/* .button-row
{
    float: right;
}

.mat-raised-button
{
    margin: 0px 10px;
} */
.button-row
{
    float: right;
}

.mat-raised-button
{
    margin: 0px 10px;
}
 /* #chat{
    position: absolute;
    width:90%;
} */

