<div class="midcontent">
  <div class="qns-slider-nav color-dark">
    
  
    <div class="qns-work-section">
        <img class="imglogo-padding" src=" https://cdn.filestackcontent.com/HJHzOXClQcao8ooZh8By" >
        <h1 class="heading"  [froalaEditor]="options"  ></h1>
<ng-picker-overlay
  [apikey]="apikey"
  (uploadSuccess)="onUploadSuccess($event)"
  (uploadError)="onUploadError($event)">
  <button color="primary"  background="primary" mat-raised-button class="button">Upload <i class="fa fa-upload"></i></button>



</ng-picker-overlay>
    </div>
  </div>
</div>