
    <div class="button-row"><button mat-button color="primary" routerLink="/next" mat-raised-button>Builder</button></div> 
      <br><br>
     <div class="midcontent">
      
         <div class="qns-slider-nav color-dark">
           
             <mat-horizontal-stepper [linear]="isLinear" #stepper>

   
                 <mat-step *ngFor="let data of ngdata;let i=index" [stepControl]="firstFormGroup">
                   <form [formGroup]="firstFormGroup">
                       <img class="imglogo-padding" src=" https://cdn.filestackcontent.com/HJHzOXClQcao8ooZh8By" >
                       <div *ngIf="data=='text_input_field'">
                          <h1  [innerHTML]="titles[i]"></h1>
                          <mat-form-field >
                          <input matInput required   >{{this.isAnswer[i]}}
                        </mat-form-field><br><br>
                          <button color="primary" matStepperNext  background="primary" mat-raised-button>{{sbmtbtn[i]}}</button>
                          <!-- <button color="primary"  background="primary" mat-raised-button >Submit</button> -->
    
                        </div>
                        <div class="margin1" *ngIf="data=='multi_select_field'">
                            <h1  [innerHTML]="titles[i]"></h1>
                            
                            <div *ngFor="let mul of multi_opanion(i);let l=index">
  
                                <mat-checkbox> {{mul}}</mat-checkbox>
                            </div>
                            <br>
                            <button color="primary" matStepperNext  background="primary" mat-raised-button>{{sbmtbtn[i]}}</button>
                          </div>
                     
                            <div class="margin1" *ngIf="data=='single_slider'">
                                <h1  [innerHTML]="titles[i]"></h1>
                                <mat-radio-group>
                            <div class="margin1" *ngFor="let mul of multi_opanion(i);let i=index">
                               
                              <mat-radio-button [checked]="go(i)"  [value]="i"><span>{{mul}}</span> </mat-radio-button>
          
                            </div></mat-radio-group>
                            <br>
                            <button color="primary" matStepperNext  background="primary" mat-raised-button>{{sbmtbtn[i]}}</button>
                              </div>
                              <div *ngIf="data==='file'">
                                  <h1  [innerHTML]="titles[i]"></h1>
                                <img class="img" [src]="image_logo[i]">
                              </div>

                 
                    <div>
                      <br>
                        <button *ngIf="i!=0" mat-button matStepperPrevious>Back <i class="fa fa-reply"></i></button>
                      <button class="nextforslider" mat-button matStepperNext>Next <i class="fa fa-share"></i></button>
                    </div>
                  </form>
                </mat-step>
                
              </mat-horizontal-stepper> 
        </div>
      </div>






  <!-- chat -->

<!-- 
  <div id="chat">
      <div class="button-row"><button mat-button color="primary" routerLink="/next" mat-raised-button>B</button></div> 
      <br><br>
     <div class="midcontent">
       
         <div class="qns-slider-nav color-dark">
     
             <mat-horizontal-stepper [linear]="isLinear" #stepper>
   
                 <mat-step *ngFor="let data of ngdata;let i=index" [stepControl]="firstFormGroup">
                   <form [formGroup]="firstFormGroup">
                       <img class="imglogo-padding" src=" https://cdn.filestackcontent.com/HJHzOXClQcao8ooZh8By" >
                       <div *ngIf="data=='text_input_field'">
                          <h1  [innerHTML]="titles[i]"></h1>
                          <mat-form-field >
                          <input matInput required  placeholder="Default Placeholder" >
                        </mat-form-field><br><br>
                          <button color="primary" matStepperNext  background="primary" mat-raised-button>{{sbmtbtn[i]}}</button>
                          
                        </div>
                        <div class="margin" *ngIf="data=='multi_select_field'">
                            <h1  [innerHTML]="titles[i]"></h1>
                            
                            <div *ngFor="let mul of multi_opanion(i);let l=index">
  
                                <mat-checkbox> {{mul}}</mat-checkbox>
                            </div>
                            <br>
                            <button color="primary" matStepperNext  background="primary" mat-raised-button>{{sbmtbtn[i]}}</button>
                          </div>
                     
                            <div class="margin" *ngIf="data=='single_slider'">
                                <h1  [innerHTML]="titles[i]"></h1>
                                <mat-radio-group>
                            <div class="margin" *ngFor="let mul of multi_opanion(i);let l=index">
                               
                              <mat-radio-button [value]="l"><span>{{mul}}</span> </mat-radio-button>
                               
                            </div></mat-radio-group>
                            <br>
                            <button color="primary" matStepperNext  background="primary" mat-raised-button>{{sbmtbtn[i]}}</button>
                              </div>
                 
                    <div>
                      <br>
                        <button *ngIf="i!=0" mat-button matStepperPrevious>Back <i class="fa fa-reply"></i></button>
                      <button class="nextforslider" mat-button matStepperNext>Next <i class="fa fa-share"></i></button>
                    </div>
                  </form>
                </mat-step>
                
              </mat-horizontal-stepper> 
        </div>
      </div>



  </div>  -->