<!-- 
<div class="midcontent">
    <div class="qns-slider-nav color-dark">
      <span class="size22" [froalaEditor]="Opinionedit"></span>
   
      <mat-slider min="3" tickInterval="1000" thumbLabel  thumbLabel max="10" step="1" (change)="sliderxxx()" [(ngModel)]="value"></mat-slider>
  
      <div class="opionionlist">
        <ul>
           
          <li *ngFor="let i of res;let j=index">{{j+1}}</li>
          
        </ul>
        <span class="left" *ngIf="leftlable==''" ><button (click)="addleft()">add Left Lable</button></span>
        <span class="right" *ngIf="rightlable==''"><button (click)="addright()">add right Lable</button></span>
        <span class="left" *ngIf="leftlable!=''" [froalaEditor]="lefteditx" >{{leftlable}}</span>
        <span class="right" *ngIf="rightlable!=''" [froalaEditor]="rightteditx">{{rightlable}}</span>
      </div>
    </div>
  </div> -->