

    
      <div class="midcontent">
        <div class="qns-slider-nav color-dark">
          <!-- <img class="imglogo-padding" [src]="logo_img"> -->
          <div class="qns-work-section">
              <img class="imglogo-padding" src=" https://cdn.filestackcontent.com/HJHzOXClQcao8ooZh8By" >
      
            <h1 class="heading"  [froalaEditor]="options"  ></h1>
             
            <form class="example-form" >
              <mat-form-field  class="example-full-width">
               
                <input matInput   placeholder="Default Placeholder" name="isAnswer" [(ngModel)]="isAnswer" >
               </mat-form-field>
               <div class="clear"></div>
          <button class="button" color="primary"  background="primary" [froalaEditor]="mybuttonx" (click)="onClick()" mat-raised-button></button>
          
      
            </form>
          </div>
        </div>
      </div>

<!-- 
    <div id="chat">
        <div class="midcontent">
            <div class="qns-slider-nav color-dark">
            
              <div class="qns-work-section">
          
                <h1  [froalaEditor]="options1"  ></h1>
                 
                <form class="example-form" >
                  <mat-form-field  class="example-full-width">
                   
                    <input matInput   placeholder="Default Placeholder" name="isAnswer" [(ngModel)]="isAnswer" >
                   </mat-form-field>
                   <div class="clear"></div>
              <button color="primary"  background="primary" [froalaEditor]="mybuttonx1" (click)="onClick1()" mat-raised-button></button>
              
          
                </form>
              </div>
            </div>
          </div>


    </div> -->